/**
 * 圆角头像，列表场景，默认用100px的
 */
.ui-avatar {
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
}
.ui-avatar-lg {
  width: 54px;
  height: 54px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
}
.ui-avatar-lg span {
  width: 54px;
  height: 54px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
}
.ui-avatar-s {
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
}
.ui-avatar-s span {
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
}
/* 资料场景 */
.ui-avatar-one {
  width: 64px;
  height: 64px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
}
.ui-avatar-one span {
  width: 64px;
  height: 64px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
}
/* 平铺场景 */
.ui-avatar-tiled {
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
  display: inline-block;
}
.ui-avatar-tiled span {
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
}
