.ui-color-black {
  color: #000;
}
.ui-color-white {
  color: #fff;
}
.ui-color-gray {
  color: #808080;
}
.ui-color-blue {
  color: #0079ff;
}
.ui-color-red {
  color: #fd472b;
}
.ui-color-orange {
  color: #ff6d00;
}
