.jmu-color-black {
  color: #000;
}
.jmu-color-white {
  color: #fff;
}
.jmu-color-gray {
  color: #808080;
}
.jmu-color-blue,
#nav li a {
  color: #0079ff;
}
.jmu-color-red {
  color: #fd472b;
}
.jmu-color-orange {
  color: #ff6d00;
}
::-webkit-scrollbar {
  width: 0;
}
.demo-border-1px,
.jmu-header,
#nav li,
#base-color .demo-block p,
#base-clearfix .ui-clear-fix,
#base-center .ui-center,
#base-nowrap .demo-block p,
#dot .demo-block > div {
  border: 1px solid #eee;
}
.jmu-header {
  text-align: center;
  line-height: 48px;
}
.jmu-content-container {
  padding: 20px;
}
.demo-desc {
  display: none;
}
.demo-padding,
#base-nowrap .demo-block p,
#dot .demo-block > div {
  padding: 5px;
}
.demo-margin,
#base-nowrap .demo-block p,
#dot .demo-block > div {
  margin: 5px auto;
}
h2 {
  text-align: center;
  line-height: 48px;
  font-size: 16px;
}
.demo-desc {
  padding: 1em 20px;
  border-top: 1px solid #dedfe0;
}
.demo-desc + small {
  padding: 0 20px;
}
#nav li {
  list-style: none;
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  text-indent: 2em;
  font-size: 24px;
}
#nav li.divider {
  border: none;
}
#nav li a {
  display: block;
  width: 100%;
  height: 100%;
}
#base-color .demo-block p {
  margin: 30px 0;
  padding: 10px 0;
  text-align: center;
}
#base-color .demo-block p.jmu-color-white {
  background: #eee;
}
#base-1px .demo-block {
  text-align: center;
}
#base-1px .demo-borders li {
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 10px;
}
#base-clearfix .ui-clear-fix {
  height: 40px;
  line-height: 40px;
  padding: 10px 0;
}
#base-clearfix .ui-clear-fix div {
  outline: 1px solid #ffa500;
}
#corner-tag .ui-corner-tag {
  display: inline-block;
}
#tab .tab-content li {
  text-align: center;
  margin-top: 20px;
}
#table .ui-table {
  text-align: center;
  line-height: 40px;
}
#notice .ui-notice {
  position: relative;
}
#dot .demo-block > div {
  position: relative;
  height: 40px;
  line-height: 40px;
}
#grid .ui-col {
  outline: 1px solid #eee;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.demo-return-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}
#debug .demo-block {
  font-size: 0;
}
#debug .demo-block img {
  margin-top: 4px;
}
#corner-tag .jmu-corner-tag {
  display: inline-block;
}
