.ui-dialog {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  width: 270px;
  background: rgba(243,243,243,0.8);
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.8);
  -webkit-transition-property: opacity -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  z-index: 10000;
}
.poor-device .ui-dialog {
  position: absolute;
}
.ui-dialog.js-effect {
  -webkit-transition-duration: 0.3s;
}
.ui-dialog.js-before-show {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
}
.ui-dialog.js-show {
  display: block;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
}
.ui-dialog .body {
  padding: 18px;
}
.ui-dialog .title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
}
.ui-dialog .content {
  font-size: 14px;
  line-height: 1.5;
}
.ui-dialog .btns {
  display: -webkit-box;
}
.ui-dialog .btns:after {
  border-top: 1px solid #b2b2b2;
}
.ui-dialog .btn {
  width: 50%;
  height: 44px;
  font-size: 14px;
  line-height: 44px;
  text-align: center;
  -webkit-box-flex: 1;
}
.ui-dialog .btn.js-active {
  background: rgba(0,0,0,0.1);
}
.ui-dialog .btn:nth-child(2) {
  font-weight: 600;
}
.ui-dialog .btn:nth-child(2):after {
  border-left: 1px solid #b2b2b2;
}
