.jmu-color-black {
  color: #000;
}
.jmu-color-white {
  color: #fff;
}
.jmu-color-gray {
  color: #808080;
}
.jmu-color-blue,
#nav li a {
  color: #0079ff;
}
.jmu-color-red {
  color: #fd472b;
}
.jmu-color-orange {
  color: #ff6d00;
}
.jmu-clear-fix:after {
  display: block;
  content: "";
  visibility: hidden;
  clear: both;
}
.jmu-horizental-center,
.jmu-vertical-center {
  display: -webkit-box;
}
.jmu-horizental-center {
  -webkit-box-pack: center;
}
.jmu-vertical-center {
  -webkit-box-align: center;
}
.jmu-border-1px {
  position: relative;
}
.jmu-border-1px:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(1);
  pointer-events: none;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .jmu-border-1px:after {
    right: -100%;
    bottom: -100%;
    -webkit-transform: scale(0.5);
  }
}
.jmu-no-wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jmu-multi-no-wrap {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  line-height: 1.5;
  font-size: 14px;
  color: #000;
  background-color: #f8f9fa;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
li {
  list-style: none;
}
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border: none;
  background: none;
  -webkit-appearance: none;
  outline: none;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
  -webkit-touch-callout: none;
  text-decoration: none;
  color: #00a5e0;
  outline: 0;
}
em,
i {
  font-style: normal;
}
em {
  color: #f28c48;
}
::-webkit-input-placeholder {
  color: #999;
}
.jmu-app {
  background: #fff;
  -webkit-overflow-scrolling: touch;
}
.jmu-header,
.jmu-footer {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 48px;
  z-index: 10;
}
.jmu-header {
  top: 0;
}
.jmu-header:after {
  border-bottom: 1px solid #cacaca;
}
.jmu-footer {
  bottom: 0;
}
.jmu-footer:after {
  border-top: 1px solid #cacaca;
}
.jmu-content-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  min-height: 100%;
  z-index: 1;
}
.jmu-bounce-fix .jmu-content-container {
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.jmu-header ~ .jmu-content-container {
  border-top: 48px solid transparent;
}
.jmu-footer ~ .jmu-content-container {
  border-bottom: 48px solid transparent;
}
.jmu-content {
  display: none;
}
.jmu-bounce-fix .jmu-content {
  position: relative;
  min-height: 100%;
}
.jmu-content.jmu-active {
  display: block;
}
.poor-device .jmu-header {
  position: absolute;
}
.jmu-clearfix:before,
.jmu-row:before,
.jmu-clearfix:after,
.jmu-row:after {
  display: block;
  content: "";
  visibility: hidden;
  clear: both;
}
.jmu-col {
  float: left;
}
.jmu-col-10 {
  width: 10%;
}
.jmu-col-20 {
  width: 20%;
}
.jmu-col-25 {
  width: 25%;
}
.jmu-col-30 {
  width: 20%;
}
.jmu-col-33 {
  width: 33.3333%;
}
.jmu-col-40 {
  width: 40%;
}
.jmu-col-50 {
  width: 50%;
}
.jmu-col-60 {
  width: 60%;
}
.jmu-col-67 {
  width: 66.6666%;
}
.jmu-col-70 {
  width: 70%;
}
.jmu-col-80 {
  width: 90%;
}
.jmu-col-90 {
  width: 90%;
}
.jmu-col-100 {
  width: 100%;
}
.jmu-avatar {
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
}
.jmu-avatar-lg {
  width: 54px;
  height: 54px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
}
.jmu-avatar-lg span {
  width: 54px;
  height: 54px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
}
.jmu-avatar-s {
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
}
.jmu-avatar-s span {
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
}
.jmu-avatar-one {
  width: 64px;
  height: 64px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
}
.jmu-avatar-one span {
  width: 64px;
  height: 64px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
}
.jmu-avatar-tiled {
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
  display: inline-block;
}
.jmu-avatar-tiled span {
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
}
.jmu-btn,
.jmu-btn-lg {
  height: 30px;
  line-height: 30px;
  padding: 0 13px;
  min-width: 56px;
  display: inline-block;
  position: relative;
  text-align: center;
  border: none;
  color: #0079ff;
  font-size: 14px;
  background-color: #fdfdfd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #fff), to(#fafafa));
  border-radius: 3px;
  vertical-align: top;
  color: #00a5e0;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
  -webkit-box-sizing: border-box;
  border: 1px solid #cacccd;
  background-clip: padding-box;
}
.jmu-btn:not(.disabled):not(:disabled):active,
.jmu-btn.active {
  background: #f2f2f2;
  color: rgba(0,165,224,0.5);
  background-clip: padding-box;
}
.jmu-btn:after {
  content: "";
  position: absolute;
  top: -12px;
  bottom: -12px;
  left: 0;
  right: 0;
}
.jmu-btn-primary {
  background-color: #18b4ed;
  border-color: #0baae4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #1fbaf3), to(#18b4ed));
  color: #fff;
  background-clip: padding-box;
}
.jmu-btn-primary:not(.disabled):not(:disabled):active,
.jmu-btn-primary.active {
  background: #1ca7da;
  border-color: #1ca7da;
  color: rgba(255,255,255,0.5);
  background-clip: padding-box;
}
.jmu-btn-danger {
  background-color: #f75549;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #fc6156), to(#f75549));
  color: #fff;
  border-color: #f43d30;
  background-clip: padding-box;
}
.jmu-btn-danger:not(.disabled):active,
.jmu-btn-danger.active {
  background: #e2574d;
  border-color: #e2574d;
  color: rgba(255,255,255,0.5);
  background-clip: padding-box;
}
.jmu-btn.disabled,
.jmu-btn:disabled {
  border: 1px solid #e9ebec;
  color: #ccc;
  background: #e9ebec;
  text-shadow: none;
  background-clip: padding-box;
}
.jmu-btn-lg {
  font-size: 18px;
  height: 44px;
  line-height: 42px;
  display: block;
  width: 100%;
  border-radius: 5px;
}
.jmu-btn-wrap {
  padding: 20px 15px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .jmu-btn,
  .jmu-btn.disabled,
  .jmu-btn:disabled {
    border: 0;
  }
  .jmu-btn:before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #cacccd;
    border-radius: 8px;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    padding: 1px;
    -webkit-box-sizing: border-box;
  }
  .jmu-btn-lg:before {
    border-radius: 12px;
  }
  .jmu-btn-primary:before {
    border: 1px solid #0baae4;
  }
  .jmu-btn-danger:before {
    border: 1px solid #f43d30;
  }
  .jmu-btn.disabled:before,
  .jmu-btn:disabled:before {
    border: 1px solid #e9ebec;
  }
}
.jmu-btn-group,
.jmu-btn-group-tiled {
  display: -webkit-box;
  width: 100%;
  box-sizing: border-box;
}
.jmu-btn-group button,
.jmu-btn-group-tiled button {
  display: block;
  -webkit-box-flex: 1;
}
.jmu-btn-group-tiled .jmu-btn:first-child {
  margin-right: 15px;
}
.jmu-btn-group button {
  color: #00a5e0;
  line-height: 50px;
  height: 48px;
  text-align: center;
  font-size: 16px;
  border-right: 1px #c8c7cc solid;
  width: 100%;
  border-top: 1px solid #c8c7cc;
}
.jmu-btn-group button:active {
  background-color: rgba(0,0,0,0.1);
}
.jmu-btn-group button:last-child {
  border-right: none;
}
.jmu-btn-group-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: #fff;
}
.jmu-btn-group-bottom button {
  color: #00a5e0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9f9f9), to(#e0e0e0));
}
.jmu-btn-group-bottom button:active {
  background-color: none;
  color: rgba(0,165,224,0.4);
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .jmu-btn-group button {
    position: relative;
    border: 0;
  }
  .jmu-btn-group button:before {
    content: "";
    position: absolute;
    -webkit-transform-origin: right top;
    width: 0;
    border-right: 1px solid #c8c7cc;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform: scaleX(0.5);
  }
  .jmu-btn-group button:after {
    content: "";
    position: absolute;
    -webkit-transform-origin: right top;
    left: 0;
    right: 0;
    height: 0;
    border-top: 1px solid #c8c7cc;
    top: 0;
    -webkit-transform: scaleY(0.5);
  }
  .jmu-btn-group button:last-child:before {
    border-right: none;
  }
}
.jmu-radio {
  line-height: 26px;
  display: inline-block;
  margin: 5px 0;
}
.jmu-radio input {
  display: inline-block;
  width: 24px;
  height: 1px;
  position: relative;
  overflow: visible;
  border: none;
  background: none;
  -webkit-appearance: none;
  outline: none;
  margin-right: 8px;
  vertical-align: middle;
}
.jmu-radio input:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #dfe0e1;
  border-radius: 13px;
  background-clip: padding-box;
  position: absolute;
  left: 0px;
  top: -14px;
}
.jmu-radio input:checked:after {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: #1cb7f0;
  border-radius: 7px;
  position: absolute;
  left: 6px;
  top: -8px;
}
.jmu-checkbox input {
  display: inline-block;
  width: 25px;
  height: 1px;
  position: relative;
  overflow: visible;
  border: none;
  background: none;
  -webkit-appearance: none;
  outline: none;
  vertical-align: middle;
}
.jmu-checkbox input:before {
  background: url("../img/icon.png") no-repeat -50px -25px;
  -webkit-background-size: 150px auto;
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: -10px;
}
.jmu-checkbox input:checked:before {
  background-position: -25px -25px;
}
.jmu-checkbox-s {
  width: 19px;
}
.jmu-checkbox-s input:before {
  width: 19px;
  height: 19px;
  background-position: -100px -25px;
}
.jmu-checkbox-s input:checked:before {
  background-position: -75px -25px;
}
.jmu-form {
  background-color: #fff;
}
.jmu-form ::-webkit-input-placeholder {
  color: #a6a6a6;
}
.jmu-form .jmu-icon-close {
  top: 7px;
  right: 7px;
}
.jmu-form-item-order:active {
  background-color: #e5e6e7;
}
.jmu-form-item {
  height: 44px;
  font-size: 16px;
  line-height: 44px;
  vertical-align: middle;
  padding-right: 40px;
  position: relative;
  padding-left: 15px;
}
.jmu-form-item label:not(.jmu-switch):not(.jmu-checkout):not(.jmu-radio):not(.jmu-range) {
  width: 95px;
  position: absolute;
  text-align: left;
  box-sizing: border-box;
}
.jmu-form-item input:not([type="checkbox"]),
.jmu-form-item textarea {
  width: 100%;
  padding-left: 95px;
  box-sizing: border-box;
}
.jmu-form-item-textarea {
  height: 65px;
}
.jmu-form-item-textarea label {
  vertical-align: top;
}
.jmu-form-item-textarea textarea {
  margin-top: 15px;
  border: none;
}
.jmu-form-item-textarea textarea:focus {
  outline: none;
}
.jmu-form-item-l label,
.jmu-form-item-r button {
  color: #00a5e0;
  text-align: center;
}
.jmu-form-item-r .jmu-icon-close {
  right: 125px;
}
.jmu-form .jmu-form-item-l input {
  padding-left: 115px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.jmu-form-item-r {
  padding-right: 0;
}
.jmu-form .jmu-form-item-r input {
  padding: 0 150px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.jmu-form-item-r button {
  width: 110px;
  height: 44px;
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
}
.jmu-form-item-r button.disabled {
  color: #a6a6a6;
}
.jmu-form-item-r button:not(.disabled):active {
  background-color: #e5e6e7;
}
.jmu-form .jmu-form-item-pure input {
  padding-left: 0;
}
.jmu-form .jmu-form-item-show label {
  color: #808080;
}
.jmu-form-item-link:after {
  background: url("../img/icon.png") no-repeat 0 -75px;
  -webkit-background-size: 150px auto;
  content: "";
  display: block;
  width: 9px;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -7px;
}
.jmu-form-item-switch {
  height: 44px;
  line-height: 44px;
  position: relative;
}
.jmu-switch {
  position: absolute;
  font-size: 16px;
  right: 15px;
  top: 6px;
  width: 52px;
  height: 32px;
  line-height: 1em;
}
.jmu-switch input {
  width: 52px;
  height: 32px;
  position: absolute;
  z-index: 10;
  border: none;
  background: none;
  -webkit-appearance: none;
  outline: none;
}
.jmu-switch input:before {
  content: '';
  width: 50px;
  height: 30px;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-color: #dfdfdf;
  box-shadow: #dfdfdf 0px 0px 0px 0px inset;
  -webkit-transition: border 0.4s, box-shadow 0.4s;
  transition: border 0.4s, box-shadow 0.4s;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}
.jmu-switch input:checked:before {
  border-color: #64bd63;
  box-shadow: #64bd63 0px 0px 0px 16px inset;
  background-color: #64bd63;
  transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
  -webkit-transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
  background-color: #64bd63;
}
.jmu-switch input:checked:after {
  left: 21px;
}
.jmu-switch input:after {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
}
.jmu-form-item-range {
  width: 100%;
}
.jmu-range {
  position: relative;
  display: inline-block;
}
.jmu-range .jmu-range-val {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  text-align: center;
}
.jmu-range input[type=range] {
  width: 260px;
  padding: 0 40px;
  -webkit-appearance: none;
}
.jmu-range input[type=range]:focus {
  outline: none;
}
.jmu-range input[type=range]::-webkit-slider-runnable-track {
  height: 6px;
  cursor: pointer;
  background: #0079ff;
  border-radius: 3px;
}
.jmu-range input[type=range]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 12.5px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12.5px;
  border: 1px solid #eee;
}
.jmu-range input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0079ff;
}
.jmu-table {
  width: 100%;
  border-collapse: collapse;
}
.jmu-table th {
  font-weight: 500;
}
.jmu-table td,
.jmu-table th {
  border-bottom: 1px solid #dedfe0;
  border-right: 1px solid #dedfe0;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .jmu-table td,
  .jmu-table th {
    position: relative;
    border-right: 0;
    border-bottom: 0;
  }
  .jmu-table td:before,
  .jmu-table td:after,
  .jmu-table th:before,
  .jmu-table th:after {
    content: "";
    position: absolute;
    -webkit-transform-origin: right bottom;
  }
  .jmu-table td:before,
  .jmu-table th:before {
    width: 0;
    border-right: 1px solid #dedfe0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform: scaleX(0.5);
  }
  .jmu-table td:after,
  .jmu-table th:after {
    left: 0;
    right: 0;
    height: 0;
    border-bottom: 1px solid #dedfe0;
    bottom: 0;
    -webkit-transform: scaleY(0.5);
  }
  .jmu-table tr td:last-child:before,
  .jmu-table tr th:last-child:before {
    border-right: 0;
  }
  .jmu-table tr:last-child td:after {
    border-bottom: 0;
  }
  .jmu-table td.no-content:after {
    border-bottom: 0;
  }
}
.jmu-table tr td:last-child,
.jmu-table tr th:last-child {
  border-right: 0;
}
.jmu-table tr:last-child td {
  border-bottom: 0;
}
.jmu-table td.no-content {
  border-bottom: 0;
}
.ui-icon {
  background-size: 100% 100%;
}
.ui-bg-default {
  position: relative;
  background-color: #e6e6e6;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/inline/bg-default.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.ui-bg-default.ui-bg-shop {
  background-color: transparent;
  background-image: url("./../img/dist/default-shop.png");
  background-size: 100% 100%;
}
.ui-bg-default.jmu-loaded {
  background-color: transparent;
  background-image: none;
}
.ui-bg-default img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-bg-default.jmu-loaded img {
  display: block;
}
.ui-icon-arrow {
  display: inline-block;
  border-left: 1px #636363 solid;
  border-bottom: 1px #636363 solid;
  width: 6px;
  height: 6px;
}
.ui-icon-arrow.ui-arrow-big {
  border-left-width: 2px;
  border-bottom-width: 2px;
  width: 7px;
  height: 7px;
}
.ui-icon-arrow.ui-arrow-down {
  -webkit-transform: rotate(-45deg);
}
.ui-icon-arrow.ui-arrow-right {
  -webkit-transform: rotate(-135deg);
}
*[class*="jmu-dot"] {
  z-index: 20;
}
.jmu-dot-normal {
  border-radius: 5px;
  width: 9px;
  height: 9px;
}
.jmu-dot-num,
.jmu-dot-new {
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  font-style: normal;
}
.jmu-dot-num {
  min-width: 19px;
  height: 19px;
  line-height: 19px;
}
.jmu-dot-new {
  width: 30px;
  height: 15px;
  font-size: 12px;
  line-height: 15px;
}
.jmu-dot-tr {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
}
.jmu-dot-small {
  width: 6px;
  height: 6px;
}
.jmu-dot-red {
  background: #ff3b30;
}
.jmu-dot-blue {
  background: #00acff;
}
.jmu-corner-tag {
  position: relative;
  overflow: hidden;
}
.jmu-corner-tag [class*="jmu-tag-"] {
  position: absolute;
  top: -20px;
  left: 0;
  border-top: 20px solid;
  border-bottom-right-radius: 20px;
  padding: 0 9px 0 2px;
  min-width: 25px;
  height: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.jmu-tag-red {
  background: #fc4226;
}
.jmu-tag-orange {
  background: #f70;
}
.jmu-tag-blue {
  background: #0079ff;
}
.jmu-tag-green {
  background: #6ab147;
}
.jmu-avatar {
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
}
.jmu-avatar-lg {
  width: 54px;
  height: 54px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
}
.jmu-avatar-lg span {
  width: 54px;
  height: 54px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
}
.jmu-avatar-s {
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
}
.jmu-avatar-s span {
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
}
.jmu-avatar-one {
  width: 64px;
  height: 64px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
}
.jmu-avatar-one span {
  width: 64px;
  height: 64px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
}
.jmu-avatar-tiled {
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
  display: inline-block;
}
.jmu-avatar-tiled span {
  width: 30px;
  height: 30px;
  overflow: hidden;
  -webkit-border-radius: 200px;
  display: block;
  -webkit-background-size: 100% 100%;
}
.jmu-list {
  background-color: #fff;
}
.jmu-list > li {
  position: relative;
  display: -webkit-box;
  display: box;
  margin-left: 15px;
}
.jmu-list-text > li {
  line-height: 20px;
  padding: 12px 25px 12px 0;
  font-size: 16px;
}
.jmu-list-text > li > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
.jmu-list > li:first-child {
  border: none;
  background-image: none;
}
.jmu-list > li:first-child .jmu-border-t {
  border-top: 0px;
  background-image: none;
}
.jmu-list-thumb {
  width: 50px;
  height: 50px;
  margin: 7px 15px 7px 0px;
  position: relative;
}
.jmu-list .jmu-avatar,
.jmu-list .jmu-avatar-s,
.jmu-list .jmu-avatar-lg {
  margin: 7px 15px 7px 0px;
}
.jmu-list-thumb-s {
  position: relative;
  width: 28px;
  height: 28px;
  -webkit-background-size: 28px auto;
  margin: 11px 15px 11px 0px;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png");
}
.jmu-list-thumb span,
.jmu-list-thumb-s span {
  width: 100%;
  height: 100%;
  -webkit-background-size: 100% auto;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.jmu-list-info {
  -webkit-box-flex: 1;
  box-flex: 1;
  padding-right: 20px;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
}
.jmu-list-info > h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  height: 20px;
}
.jmu-list-info > p {
  font-size: 12px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  color: #808080;
}
.jmu-list .jmu-btn {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -15px;
}
.jmu-list-checkbox .jmu-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -13px;
}
.jmu-list-checkbox > li {
  padding-left: 40px;
}
.jmu-list .jmu-badge,
.jmu-list-action {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -10px;
}
.jmu-list-link .jmu-badge,
li.jmu-list-item-link .jmu-badge,
.jmu-list-link .jmu-list-action,
li.jmu-list-item-link .jmu-list-action {
  right: 35px;
}
.jmu-list-active > li:active,
.jmu-list-link > li:active,
li.jmu-list-item-link:active {
  background-color: #f8f9fa;
  padding-left: 15px;
  margin-left: 0px;
}
.jmu-list-active > li:active,
.jmu-list-active > li:active .jmu-border-t,
.jmu-list-active > li:active + li.jmu-border-t,
.jmu-list-active >li:active + .jmu-border-t,
.jmu-list-link > li:active,
.jmu-list-link > li:active .jmu-border-t,
.jmu-list-link > li:active + li.jmu-border-t,
.jmu-list-link >li:active + .jmu-border-t,
li.jmu-list-item-link:active,
li.jmu-list-item-link:active .jmu-border-t,
li.jmu-list-item-link:active + li.jmu-border-t,
li.jmu-list-item-link:active + .jmu-border-t {
  background-image: none;
  border-top-color: #f8f9fa;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .jmu-list-active > li:active,
  .jmu-list-active > li:active .jmu-border-t,
  .jmu-list-active > li:active + li.jmu-border-t,
  .jmu-list-active >li:active + .jmu-border-t,
  .jmu-list-link > li:active,
  .jmu-list-link > li:active .jmu-border-t,
  .jmu-list-link > li:active + li.jmu-border-t,
  .jmu-list-link >li:active + .jmu-border-t,
  li.jmu-list-item-link:active,
  li.jmu-list-item-link:active .jmu-border-t,
  li.jmu-list-item-link:active + li.jmu-border-t,
  li.jmu-list-item-link:active + .jmu-border-t {
    background-image: none;
  }
}
.jmu-list-function .jmu-list-info {
  padding-right: 70px;
}
.jmu-list-cover li {
  padding-left: 15px;
  margin-left: 0px;
}
.jmu-list-link li:after,
li.jmu-list-item-link:after {
  background: url("../img/icon.png") no-repeat 0 -75px;
  -webkit-background-size: 150px auto;
  content: "";
  display: block;
  width: 9px;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -7px;
}
.jmu-list-link .jmu-list-info,
.jmu-list-item-link .jmu-list-info,
.jmu-list-text .jmu-list-info {
  padding-right: 35px;
}
.jmu-list-text.jmu-list-link .jmu-list-info,
.jmu-list-text .jmu-list-item-link .jmu-list-info {
  padding-right: 70px;
}
.jmu-list li.selected {
  color: #00a5e0;
}
.jmu-list li.selected:after {
  content: "";
  display: block;
  width: 14px;
  height: 12px;
  background: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/icon.png") no-repeat -100px 0;
  -webkit-background-size: 150px auto;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -4px;
}
.jmu-notice {
  width: 100%;
  height: 100%;
  z-index: 999;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  position: absolute;
  text-align: center;
}
.jmu-notice i {
  display: block;
  -webkit-background-size: 100px 100px;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/icon_warn.png");
}
.jmu-notice-news i {
  background-image: url("../img/icon_warn_news.png");
}
.jmu-notice-nearby i {
  background-image: url("../img/icon_warn_nearby.png");
}
.jmu-notice p {
  font-size: 16px;
  line-height: 20px;
  color: #a6a6a6;
  text-align: center;
  padding: 0 15px;
}
.jmu-notice-warn {
  width: 100%;
  height: 150px;
  z-index: 999;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  text-align: center;
  color: #a6a6a6;
}
.jmu-notice-warn i {
  margin-bottom: 10px;
}
.jmu-notice-btn {
  width: 100%;
  -webkit-box-sizing: border-box;
  padding: 50px 15px;
}
.jmu-notice-btn button {
  margin: 10px 0px;
}
.jmu-tooltips {
  width: 100%;
  position: relative;
  z-index: 10;
}
.jmu-tooltips-cnt {
  margin: 0;
  color: #00a5e0;
  line-height: 45px;
  height: 45px;
  text-align: left;
  padding-left: 10px;
  font-size: 16px;
  overflow: hidden;
}
.jmu-tooltips-warn .jmu-tooltips-cnt {
  background-color: rgba(255,242,183,0.95);
  color: #000;
}
.jmu-tooltips-guide .jmu-tooltips-cnt {
  background-color: rgba(255,255,255,0.95);
}
.jmu-tooltips-state .jmu-tooltips-cnt {
  background-color: rgba(205,242,255,0.95);
}
.jmu-tooltips-cnt-link:after {
  background: url("../img/icon.png") no-repeat -75px 0;
  -webkit-background-size: 150px auto;
  content: "";
  display: block;
  width: 8px;
  height: 14px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
}
.jmu-tooltips-warn i {
  display: inline-block;
  width: 23px;
  height: 1px;
  position: relative;
  overflow: visible;
  margin-right: 8px;
  vertical-align: middle;
}
.jmu-tooltips-warn i:before {
  background: url("../img/icon.png") no-repeat -50px 0px;
  -webkit-background-size: 150px auto;
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: -14px;
}
.jmu-tooltips .jmu-btn {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -15px;
}
.jmu-tooltips-state .jmu-tooltips-cnt-link:after {
  background-position: -125px 0;
}
.jmu-mask {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: ease-out;
  z-index: 9000;
}
.jmu-mask.jmu-effect {
  -webkit-transition-duration: 0.2s;
}
.jmu-mask.jmu-show {
  display: block;
  opacity: 1;
}
.jmu-dialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  width: 270px;
  background: rgba(243,243,243,0.8);
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0.8);
  -webkit-transition-property: opacity -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  z-index: 10000;
}
.jmu-dialog.jmu-before-show {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
}
.jmu-dialog.jmu-effect {
  -webkit-transition-duration: 0.3s;
}
.jmu-dialog.jmu-show {
  display: block;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
}
.jmu-dialog .body {
  padding: 18px;
}
.jmu-dialog .title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
}
.jmu-dialog .content {
  font-size: 14px;
  line-height: 1.5;
}
.jmu-dialog .btns {
  display: -webkit-box;
}
.jmu-dialog .btns:after {
  border-top: 1px solid #b2b2b2;
}
.jmu-dialog .btn {
  width: 50%;
  height: 44px;
  font-size: 14px;
  line-height: 44px;
  text-align: center;
  -webkit-box-flex: 1;
}
.jmu-dialog .btn.jmu-active {
  background: rgba(0,0,0,0.1);
}
.jmu-dialog .btn:nth-child(2) {
  font-weight: 600;
}
.jmu-dialog .btn:nth-child(2):after {
  border-left: 1px solid #b2b2b2;
}
.jmu-action-sheet {
  display: none;
  position: fixed;
  right: 8px;
  bottom: 0;
  left: 8px;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -webkit-transition-property: opacity -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  z-index: 10000;
}
.jmu-action-sheet.jmu-effect {
  -webkit-transition-duration: 0.3s;
}
.jmu-action-sheet.jmu-show {
  display: block;
  opacity: 1;
  -webkit-transform: translateY(0);
}
.jmu-action-sheet .btn-cancel {
  border-radius: 3px;
}
.jmu-action-sheet li:first-child {
  border-radius: 3px 3px 0 0;
}
.jmu-action-sheet li:last-child {
  border-radius: 0 0 3px 3px;
}
.jmu-action-sheet li:after {
  border-top: 1px solid #c9c9cc;
}
.jmu-action-sheet li:first-child:after {
  border-top-width: 0;
}
.jmu-action-sheet .btn {
  padding: 11px 0 12px;
  background: #ededed;
  font-size: 21px;
  line-height: 1;
  text-align: center;
}
.jmu-action-sheet .btn.jmu-active {
  background: rgba(237,237,237,0.84);
}
.jmu-action-sheet .btn-cancel {
  margin: 8px 0;
}
.jmu-action-sheet .jmu-actionsheet-title {
  font-size: 18px !important;
  color: #808080 !important;
}
.jmu-action-sheet .jmu-actionsheet-del {
  color: #fd472b !important;
}
.jmu-action-sheet .sheet-title {
  padding: 6px 0;
  background-color: #ededed;
  font-size: 16px;
  line-height: 1;
  text-align: center;
}
.jmu-action-sheet .content {
  font-size: 0;
}
.jmu-action-sheet .content .sheet-item {
  width: 33.333333%;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.jmu-action-sheet .content .sheet-item img {
  width: 50%;
}
.jmu-action-sheet .content .sheet-item span {
  display: block;
  font-size: 12px;
  margin-top: 10px;
  color: #000;
}
.jmu-carousel {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: #000;
}
.jmu-carousel-inner {
  display: none;
  position: relative;
  -webkit-transfrom: translate3d(0, 0, 0);
/*display: -webkit-box;*/
}
.jmu-carousel-item {
  float: left;
/*display: inline-block;*/
  position: relative;
/*-webkit-box-flex:1;*/
}
.jmu-carousel-item-last {
  left: -100%;
}
.jmu-carousel-dots {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10px;
}
.jmu-carousel-dots-i {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 8px;
  margin: 0 2px;
  text-indent: -9999px;
}
.jmu-carousel-dots-curr {
  background-color: #fff;
}
.jmu-text-loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -55px;
  margin-left: -65px;
  border-radius: 6px;
  width: 130px;
  height: 110px;
  background: rgba(0,0,0,0.65);
  z-index: 10000;
}
.jmu-text-loading .loading {
  margin: 18px auto 12px;
}
.jmu-text-loading .content {
  font-size: 16px;
  text-align: center;
}
.jmu-page-loading {
  display: none;
  position: fixed;
  top: 50%;
  margin-top: -15px;
  width: 100%;
  color: #ababab;
  text-align: center;
  z-index: 10000;
}
.jmu-page-loading .loading {
  display: inline-block;
  vertical-align: middle;
}
.jmu-page-loading .content {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}
.jmu-rich-loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -46px;
  margin-left: -125px;
  border-radius: 5px;
  width: 250px;
  height: 92px;
  background: rgba(0,0,0,0.8);
  z-index: 10000;
}
.jmu-rich-loading .loading {
  float: left;
  margin: 28px 10px;
}
.jmu-rich-loading .content {
  float: left;
  border-right: 1px solid #fff;
  width: 144px;
  color: #fff;
  font-size: 16px;
  line-height: 92px;
  text-align: center;
}
.jmu-rich-loading .btn {
  float: left;
  width: 49px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 17px;
}
.jmu-icon-close {
  background-image: url("./../img/inline/close.png?embed");
}
.jmu-search-bar {
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  padding: 0 10px;
  height: 48px;
  -webkit-box-align: center;
}
.jmu-search-bar:after {
  border-bottom: 1px solid #cacaca;
}
.jmu-search-form {
  display: -webkit-box;
  border-radius: 5px;
  height: 30px;
  background: #fff;
  -webkit-box-flex: 1;
  -webkit-box-align: center;
}
.jmu-search-form:after {
  border: 1px solid #a6a6a6;
  border-radius: 10px;
}
.jmu-search-form .jmu-icon-search {
  margin: 0 6px 0 9px;
}
.jmu-icon-search {
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/inline/search.png");
}
.jmu-search-input {
  display: block;
  position: relative;
  top: 500px;
  border: 0;
  border-radius: 5px;
  height: 30px;
  font-size: 14px;
  -webkit-box-flex: 1;
  -webkit-transform: translateY(-500px);
}
.jmu-search-input::-webkit-search-cancel-button {
  display: none;
}
.jmu-search-form .btn-clear {
  display: none;
  padding: 7px 9px 7px 6px;
}
.jmu-icon-clear {
  display: block;
  position: relative;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  background: #8e8e93;
}
.jmu-icon-clear:before,
.jmu-icon-clear:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 66.7%;
  height: 2px;
  background: #fff;
}
.jmu-icon-clear:before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
}
.jmu-icon-clear:after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
}
.jmu-search-bar .btn-cancel {
  display: none;
  padding: 0 10px;
  font-size: 14px;
  line-height: 48px;
}
.jmu-search-bar .btn-cancel.jmu-active {
  background: rgba(0,0,0,0.1);
}
.jmu-search-bar.jmu-input .btn-clear {
  display: block;
}
.jmu-search-bar.jmu-focus {
  padding-right: 0;
}
.jmu-search-bar.jmu-focus .btn-cancel {
  display: block;
}
.jmu-tab {
  display: -webkit-box;
  height: 45px;
  background-color: #fff;
}
.jmu-tab .item {
  border-bottom: 3px solid transparent;
  height: 45px;
  color: #808080;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  -webkit-box-flex: 1;
}
.jmu-tab .item span {
  padding-left: 5px;
}
.jmu-tab .item.jmu-active {
  border-color: #00a5e0;
  color: #00a5e0;
}
.jmu-color-black {
  color: #000;
}
.jmu-color-white {
  color: #fff;
}
.jmu-color-gray {
  color: #808080;
}
.jmu-color-blue,
#nav li a {
  color: #0079ff;
}
.jmu-color-red {
  color: #fd472b;
}
.jmu-color-orange {
  color: #ff6d00;
}
.jmu-toast {
  display: none;
  position: fixed;
  top: 0;
  right: 10px;
  left: 10px;
  border-radius: 0 0 3px 3px;
  padding: 0 10px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  -webkit-transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  z-index: 10000;
}
.jmu-toast.jmu-effect {
  -webkit-transition-duration: 0.2s;
}
.jmu-toast.jmu-show {
  display: block;
  -webkit-transform: translateY(0);
}
.jmu-toast .jmu-content {
  display: inline-block;
}
.jmu-toast [class^='jmu-icon-'] {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 18px;
  height: 18px;
  background-size: 100% 100%;
}
.jmu-toast .jmu-icon-warning {
  background-image: url("../img/inline/warning.png?embed");
}
.jmu-toast .jmu-icon-tips {
  background-image: url("../img/inline/tips.png?embed");
}
.jmu-toast .jmu-icon-success {
  background-image: url("../img/inline/success.png?embed");
}
.jmu-progress-file {
  padding: 20px 30px;
  border: 1px solid #eee;
  background: rgba(255,255,255,0.8);
}
.jmu-progress-file .progress-info {
  width: 80%;
  float: left;
  font-size: 12px;
}
.jmu-progress-file .progress-bar-wrap {
  width: 100%;
  height: 4px;
  margin: 12px 0;
  background: #dedad9;
}
.jmu-progress-file .progress-bar-wrap .progress-bar {
  display: block;
  height: 100%;
  width: 50%;
  background: #66d521;
  border-radius: 2px;
}
.jmu-progress-file .progress-action {
  width: 20%;
  height: 60px;
  float: right;
}
.jmu-progress-img {
  position: relative;
  width: 150px;
  height: 200px;
  background: #dedad9 url("http://placekitten.com/150/200") center center no-repeat;
  background-size: cover;
}
.jmu-progress-img .progress-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}
.jmu-progress-img .progress-number {
  position: relative;
  z-index: 2;
  font-size: 30px;
  color: #fff;
}
.jmu-progress-img .progress-number:after {
  content: '%';
}
.jmu-progress-circle {
  position: relative;
  width: 200px;
  height: 200px;
  background: #7f7f7f;
  background-size: cover;
}
.jmu-progress-circle .jmu-progress-pie {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 50%;
  background: #fff;
}
.jmu-progress-circle .jmu-progress-pie-left,
.jmu-progress-circle .jmu-progress-pie-right {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}
.jmu-progress-circle .jmu-progress-left,
.jmu-progress-circle .jmu-progress-right {
  width: 200px;
  height: 200px;
  background: #262626;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.jmu-progress-circle .jmu-progress-pie-right,
.jmu-progress-circle .jmu-progress-right {
  clip: rect(0, auto, auto, 100px);
}
.jmu-progress-circle .jmu-progress-pie-left,
.jmu-progress-circle .jmu-progress-left {
  clip: rect(0, 100px, auto, 0);
}
.jmu-progress-circle .jmu-progress-mask {
  position: absolute;
  left: 25px;
  top: 25px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #4c4c4c;
}
.jmu-progress-circle .progress-number {
  position: relative;
  z-index: 2;
  font-size: 20px;
  color: #fff;
}
.jmu-progress-circle .progress-number:after {
  content: '%';
}
.jmu-color-black {
  color: #000;
}
.jmu-color-white {
  color: #fff;
}
.jmu-color-gray {
  color: #808080;
}
.jmu-color-blue,
#nav li a {
  color: #0079ff;
}
.jmu-color-red {
  color: #fd472b;
}
.jmu-color-orange {
  color: #ff6d00;
}
::-webkit-scrollbar {
  width: 0;
}
.demo-border-1px,
.jmu-header,
#nav li,
#base-color .demo-block p,
#base-clearfix .ui-clear-fix,
#base-center .ui-center,
#base-nowrap .demo-block p,
#dot .demo-block > div {
  border: 1px solid #eee;
}
.jmu-header {
  text-align: center;
  line-height: 48px;
}
.jmu-content-container {
  padding: 20px;
}
.demo-desc {
  display: none;
}
.demo-padding,
#base-nowrap .demo-block p,
#dot .demo-block > div {
  padding: 5px;
}
.demo-margin,
#base-nowrap .demo-block p,
#dot .demo-block > div {
  margin: 5px auto;
}
h2 {
  text-align: center;
  line-height: 48px;
  font-size: 16px;
}
.demo-desc {
  padding: 1em 20px;
  border-top: 1px solid #dedfe0;
}
.demo-desc + small {
  padding: 0 20px;
}
#nav li {
  list-style: none;
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  text-indent: 2em;
  font-size: 24px;
}
#nav li.divider {
  border: none;
}
#nav li a {
  display: block;
  width: 100%;
  height: 100%;
}
#base-color .demo-block p {
  margin: 30px 0;
  padding: 10px 0;
  text-align: center;
}
#base-color .demo-block p.jmu-color-white {
  background: #eee;
}
#base-1px .demo-block {
  text-align: center;
}
#base-1px .demo-borders li {
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 10px;
}
#base-clearfix .ui-clear-fix {
  height: 40px;
  line-height: 40px;
  padding: 10px 0;
}
#base-clearfix .ui-clear-fix div {
  outline: 1px solid #ffa500;
}
#corner-tag .ui-corner-tag {
  display: inline-block;
}
#tab .tab-content li {
  text-align: center;
  margin-top: 20px;
}
#table .ui-table {
  text-align: center;
  line-height: 40px;
}
#notice .ui-notice {
  position: relative;
}
#dot .demo-block > div {
  position: relative;
  height: 40px;
  line-height: 40px;
}
#grid .ui-col {
  outline: 1px solid #eee;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.demo-return-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}
#debug .demo-block {
  font-size: 0;
}
#debug .demo-block img {
  margin-top: 4px;
}
#corner-tag .jmu-corner-tag {
  display: inline-block;
}
