/* usually for body */
.jmu-app {
  background: #fff;
  -webkit-overflow-scrolling: touch;
}
.jmu-header,
.jmu-footer {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 48px;
  z-index: 10;
}
.jmu-header {
  top: 0;
}
.jmu-header:after {
  border-bottom: 1px solid #cacaca;
}
.jmu-footer {
  bottom: 0;
}
.jmu-footer:after {
  border-top: 1px solid #cacaca;
}
/* content container may have more than one content like tab switch */
.jmu-content-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  min-height: 100%;
  z-index: 1;
}
/* 
 * for ios6+ use scrollbar of ".jmu-content-container" instead of body's to make better experience
 * because on ios page can be scroll that we can see the area that not belong to our page  
 */
.js-bounce-fix .jmu-content-container {
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.jmu-header ~ .jmu-content-container {
  border-top: 48px solid transparent;
}
.jmu-footer ~ .jmu-content-container {
  border-bottom: 48px solid transparent;
}
.jmu-content {
  display: none;
}
.js-bounce-fix .jmu-content {
  position: relative;
  min-height: 100%;
}
/* js style */
.jmu-content.js-active {
  display: block;
}
/* low device style */
.poor-device .jmu-header {
  position: absolute;
}
.jmu-clearfix:before,
.jmu-row:before,
.jmu-clearfix:after,
.jmu-row:after {
  display: block;
  content: "";
  visibility: hidden;
  clear: both;
}
.jmu-col {
  float: left;
}
.jmu-col-10 {
  width: 10%;
}
.jmu-col-20 {
  width: 20%;
}
.jmu-col-25 {
  width: 25%;
}
.jmu-col-30 {
  width: 20%;
}
.jmu-col-33 {
  width: 33.3333%;
}
.jmu-col-40 {
  width: 40%;
}
.jmu-col-50 {
  width: 50%;
}
.jmu-col-60 {
  width: 60%;
}
.jmu-col-67 {
  width: 66.6666%;
}
.jmu-col-70 {
  width: 70%;
}
.jmu-col-80 {
  width: 90%;
}
.jmu-col-90 {
  width: 90%;
}
.jmu-col-100 {
  width: 100%;
}
