.ui-text-loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -55px;
  margin-left: -65px;
  border-radius: 6px;
  width: 130px;
  height: 110px;
  background: rgba(0,0,0,0.65);
  z-index: 10000;
}
.ui-text-loading .loading {
  margin: 18px auto 12px;
}
.ui-text-loading .content {
  font-size: 16px;
  text-align: center;
}
.ui-page-loading {
  display: none;
  position: fixed;
  top: 50%;
  margin-top: -15px;
  width: 100%;
  color: #ababab;
  text-align: center;
  z-index: 10000;
}
.ui-page-loading .loading {
  display: inline-block;
  vertical-align: middle;
}
.ui-page-loading .content {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}
.ui-rich-loading {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -46px;
  margin-left: -125px;
  border-radius: 5px;
  width: 250px;
  height: 92px;
  background: rgba(0,0,0,0.8);
  z-index: 10000;
}
.ui-rich-loading .loading {
  float: left;
  margin: 28px 10px;
}
.ui-rich-loading .content {
  float: left;
  border-right: 1px solid #fff;
  width: 144px;
  color: #fff;
  font-size: 16px;
  line-height: 92px;
  text-align: center;
}
.ui-rich-loading .btn {
  float: left;
  width: 49px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 17px;
}
.ui-icon-close {
  background-image: url("https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/inline/close.png");
}
