.imagechange{
	width: 300px;
	overflow: hidden;
}
.imagechange > .wrap > div{
	height: 150px;
	float: left;
	outline: 1px solid white;
	border-radius: 5px;
}
.imagechange .wrap img{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	width: 100%;
	height: 100%;
}
.btnsWrap{
	width: 100%;
}
.btnsWrap:after{
	display:block;
	content: "";
	clear: both;
}
.btnsWrap > li{
	float: left;
	list-style-type: none;
	margin:10px 10px 0 0;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	background: gray;
}
.btnsWrap > li.selected{
	background: black;
}