.header , .footer{
}
.header_black , .footer_black{
	border: 1px solid #333;
	background: #111;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 -1px #111;
	background: -webkit-gradient(linear, left top, left bottom, from( #3c3c3c), to( #111));
	background: -webkit-linear-gradient( #3c3c3c , #111);
	background: -moz-linear-gradient( #3c3c3c , #111);
	background: -ms-linear-gradient( #3c3c3c , #111);
	background: -o-linear-gradient( #3c3c3c , #111);
	background: linear-gradient( #3c3c3c , #111);	
}
.header_blue , .footer_blue{
	border: 1px solid #456f9a;
	background: #5e87b0;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 -1px #3e6790;
	background: -webkit-gradient(linear, left top, left bottom, from( #6facd5), to( #497bae));
	background: -webkit-linear-gradient( #6facd5 , #497bae);
	background: -moz-linear-gradient( #6facd5 , #497bae);
	background: -ms-linear-gradient( #6facd5 , #497bae);
	background: -o-linear-gradient( #6facd5 , #497bae);
	background: linear-gradient( #6facd5 , #497bae);		
}
.header_white , .footer_white{
	border: 1px solid #bbb;
	background: #bbb;
	color: #333;
	font-weight: bold;
	text-shadow: 0 -1px #eee;
	background: -webkit-gradient(linear, left top, left bottom, from( #ddd), to(  #bbb));
	background: -webkit-linear-gradient( #ddd ,  #bbb);
	background: -moz-linear-gradient( #ddd ,  #bbb);
	background: -ms-linear-gradient( #ddd ,  #bbb);
	background: -o-linear-gradient( #ddd ,  #bbb);
	background: linear-gradient( #ddd ,  #bbb);		
}
.header > h1 , .footer > h4{
	font-size: 18px;
	text-align: center;
	padding: 0.6em 0.8em;
}