.jmu-tab {
  display: -webkit-box;
  height: 45px;
  background-color: #fff;
}
.jmu-tab .item {
  border-bottom: 3px solid transparent;
  height: 45px;
  color: #808080;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  -webkit-box-flex: 1;
}
.jmu-tab .item span {
  padding-left: 5px;
}
.jmu-tab .item.jmu-active {
  border-color: #00a5e0;
  color: #00a5e0;
}
