.ui-toast {
  display: none;
  position: fixed;
  top: 0;
  right: 10px;
  left: 10px;
  border-radius: 0 0 5px 5px;
  background: rgba(0,0,0,0.5);
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  -webkit-transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  z-index: 10000;
}
.ui-toast.js-effect {
  -webkit-transition-duration: 0.2s;
}
.ui-toast.js-show {
  display: block;
  -webkit-transform: translateY(0);
}
.ui-toast i {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 18px;
  height: 18px;
  background-size: 100% 100%;
}
.ui-icon-warning {
  background-image: url("./../img/inline/warning.png?embed");
}
.ui-icon-tips {
  background-image: url("./../img/inline/tips.png?embed");
}
.ui-icon-success {
  background-image: url("./../img/inline/success.png?embed");
}
