/*	base */
*{	
	padding: 0; 
	margin: 0;
}

body, 
input, 
textarea, 
select, 
button {
	font-family: Helvetica, Arial, san-serif;
}
a{
	color: #2489ce;
	text-decoration: none;
}

/*	下拉菜单	*/
.menuSelector{
	display: block;
	text-align: center;
	
	position: relative;
	margin: .5em 0;
	padding: 0;
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, .3);
	box-shadow: 0px 1px 4px  rgba(0, 0, 0, .3) ;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;

	border: 1px solid #CCC ;
	
	font-weight: bold;
	color: #222;
	text-shadow: 0  1px 0  white;
	background: #EEE;
	background-image: -webkit-gradient(linear, left top, left bottom, from( white ), to( #F1F1F1));
	background-image: -webkit-linear-gradient( white , #F1F1F1);
	background-image: -moz-linear-gradient( white , #F1F1F1 );
	background-image: -ms-linear-gradient( white , #F1F1F1 );
	background-image: -o-linear-gradient( white , #F1F1F1 );
	background-image: linear-gradient( white , #F1F1F1 );

}
.menuSelector:after{
	position: absolute;
	top: 8px;
	right: 8px;
	content: "";
	display: block;
	width: 1.5em;
	height: 1.5em;
	background: #CCC6C6;
	border-radius: 1em;
}
.menuSelector span{
	padding: .6em 20px;
	display: block;

}
.menuSelector select{
	width: 100%;
	height: 100%;	
	left: 0;
	top: 0;
	position: absolute;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
}


/*	radio列表	*/
.radioButtonList{
	border: none;
	margin-top: 30px;
}
.radioButtonList ul{
	position: relative;

}


.radioButtonList li{
	border: 1px solid #CCC;
	background: #EEE ;
	font-weight: bold;
	color: #222 ;
	text-shadow: 0  1px  0  white ;
	background-image: -webkit-gradient(linear, left top, left bottom, from( white), to( #F1F1F1));
	background-image: -webkit-linear-gradient( white , #F1F1F1 );
	background-image: -moz-linear-gradient( white, #F1F1F1 );
	background-image: -ms-linear-gradient( white , #F1F1F1 );
	background-image: -o-linear-gradient( white , #F1F1F1 );
	background-image: linear-gradient( white , #F1F1F1);
	list-style-type: none;
	position: relative;
}
.radioButtonList li:before{
	position: absolute;
	top: 12px;
	left: 1em;
	content: "";
	display: block;
	width: 1em;
	height: 1em;
	background: #CCC6C6;
	border-radius: 1em;	
	z-index: 2;
}
.radioButtonList li.checked:before{
	background: #109EE0;
}


.radioButtonList li:first-child{
	border-radius: .6em .6em 0 0;
}
.radioButtonList li:last-child{
	border-radius: 0 0 .6em .6em;
}
.radioButtonList label{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;

}
.radioButtonList span{
	padding: 10px 40px; 
	display: block;
}
.radioButtonList input{
	position: absolute;
	left: 20px;
	top: 50%;
	width: 10px;
	height: 10px;
	margin: -5px 0 0 0;
	padding: 5px;
	opacity: 0;
	
}


/*	slider	*/
.slider{
	position: relative;
	height: 14px;
	margin-top: 30px;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	border: 1px solid #BBB;
	background: #D6D6D6;
	font-weight: bold;;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #D0D0D0), to( #DFDFDF));
	background-image: -webkit-linear-gradient( #D0D0D0, #DFDFDF);
	background-image: -moz-linear-gradient( #D0D0D0, #DFDFDF);
	background-image: -ms-linear-gradient( #D0D0D0, #DFDFDF);
	background-image: -o-linear-gradient( #D0D0D0 , #DFDFDF);
	background-image: linear-gradient( #D0D0D0, #DFDFDF);
}

.slider a{
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 28px;
	height: 28px;
	margin: -15px 0 0 -15px;
	outline: 0;
	display: block;

	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	border: 1px solid #CCC;

	background: #EEE;
	background-image: -webkit-gradient(linear, left top, left bottom, from( white), to( #F1F1F1 ));
	background-image: -webkit-linear-gradient( white, #F1F1F1 );
	background-image: -moz-linear-gradient( white, #F1F1F1);
	background-image: -ms-linear-gradient( white, #F1F1F1);
	background-image: -o-linear-gradient( white, #F1F1F1);
	background-image: linear-gradient( white, #F1F1F1);
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,.3) ;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, .3);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, .3) ;


}

/* toggle switch */
.toggleSwitch{
	width: 102px;
	height: 32px;
	margin: 20px;

	position: relative;	

}
.toggleSwitch .wrap{
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	overflow: hidden;
}
.toggleSwitch .wrap div{

	left: 0;
	top: 0;
	width: 200%;
	height: 100%;
}
.toggleSwitch span{
	width: 100px;
	height: 30px;
	display: block;
	float: left;
	text-align: center;
	font-weight: bold;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	line-height: 30px;

}
.toggleSwitch span:first-child{
	border: 1px solid #2373A5;
	background: #5393C5;
	color: white;
	cursor: pointer;
	text-indent: -1.5em;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #5393C5), to( #6FACD5));
	background-image: -webkit-linear-gradient( #5393C5 , #6FACD5);
	background-image: -moz-linear-gradient( #5393C5, #6FACD5);
	background-image: -ms-linear-gradient( #5393C5 , #6FACD5);
	background-image: -o-linear-gradient( #5393C5, #6FACD5);
	background-image: linear-gradient( #5393C5, #6FACD5);
}
.toggleSwitch span:last-child{
	border: 1px solid #BBB;
	text-indent: 0;
	background: #D6D6D6;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #D0D0D0), to( #DFDFDF));
	background-image: -webkit-linear-gradient( #D0D0D0, #DFDFDF);
	background-image: -moz-linear-gradient( #D0D0D0, #DFDFDF);
	background-image: -ms-linear-gradient( #D0D0D0, #DFDFDF);
	background-image: -o-linear-gradient( #D0D0D0, #DFDFDF);
	background-image: linear-gradient( #D0D0D0, #DFDFDF);
	margin-left: -30px;
}
.toggleSwitch a{
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	display: block;
	position: absolute;
	left: 72px;

	top: 0;
	width: 30px;
	height: 30px;
	border: 1px solid #CCC;
	background: #EEE;
	background-image: -webkit-gradient(linear, left top, left bottom, from( white ), to( #F1F1F1));
	background-image: -webkit-linear-gradient( white, #F1F1F1);
	background-image: -moz-linear-gradient( white , #F1F1F1 );
	background-image: -ms-linear-gradient( white , #F1F1F1 );
	background-image: -o-linear-gradient( white , #F1F1F1 );
	background-image: linear-gradient( white , #F1F1F1);

	-moz-box-shadow: 4px rgba(0,0,0,.3);
	-webkit-box-shadow:4px rgba(0, 0, 0, .3);
	box-shadow: 4px rgba(0, 0, 0, .3);
	z-index: 99;
}
