<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>JMUI</title>
    <meta name="author" content="Tencent.AlloyTeam" />
    <meta name="copyright" content="Tencent.AlloyTeam" />
    <meta name="keywords" content="腾讯 Alloy 团队, JMUI" />
    <meta name="description" content="JMUI, 移动UI库" />

    <script>
        if(document.documentElement.clientWidth < 640){
            window.location.href ="JMUI/dist/index.html";
        }
    </script>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="libs/highlight/styles/github.css">
    <link rel="stylesheet" href="css/main.css"/>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">JMUI</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">JMUI<sup class="doc-beta">beta</sup></a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="quick-start">快速开始</a></li>
                <li><a href="base-css">基础样式</a></li>
                <li><a href="ui-css">UI 组件</a></li>
                <li><a href="ui-js">JS 插件</a></li>
                <li><a href="customize">定制化</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="JMUI/dist/" class="doc-qrcode-btn" ><span class="glyphicon glyphicon-qrcode"></span> 扫码体验</a></li>
                <!--<li><a href="#" data-toggle="modal" data-target="#feedback-modal">吐槽</a></li>-->
                <!--<li><a href="mailto:jmui.alloyteam@gmail.com?subject=吐槽JMUI">吐槽</a></li>-->
            </ul>
        </div>
    </div>
</nav>


