.ui-action-sheet  {
   .sheet-title {
      padding: 6px 0;
      background-color: #ededed;
      font-size: 16px;
      line-height: 1;
      text-align: center;
   }

   .content {
      font-size: 0;


      .sheet-item {
         width: 33.333333%;
         display: inline-block;

         padding: 10px;
         box-sizing: border-box;

         img {
            width: 50%;
         }
         span {
            display block;
            font-size: 12px;
            margin-top: 10px;
            color: #000;
         }
      }
   }
}

