/**
 * 圆角头像，列表场景，默认用100px的
 */
avatar($size = 50px) {
    width: $size;
    height: $size;
    overflow: hidden;
    -webkit-border-radius: 200px;
    display: block;
    -webkit-background-size: 100% 100%;
}

.ui-avatar {
    avatar;
    background-image:url(https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png);
    span {
        avatar;
    }
}

.ui-avatar-lg {
    avatar(54px);
    background-image:url(https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png);
    span {
        avatar(54px);
    }
}

.ui-avatar-s {
    avatar(40px);
    background-image:url(https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png);
    span {
        avatar(40px);
    }
}

/* 资料场景 */
.ui-avatar-one {
    avatar(64px);
    background-image:url(https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png);
    span {
        avatar(64px);
    }
}

/* 平铺场景 */
.ui-avatar-tiled {
    avatar(30px);
    background-image:url(https://raw.githubusercontent.com/lawlietfans/JMUI/dev/img/default.png);
    span {
        avatar(30px);
    }
    display: inline-block;
}