// 字体颜色
.ui-color-black {
    color: black;
}
.ui-color-white {
    color: white;
}
.ui-color-gray {
    color: #808080;
}
.ui-color-blue {
    color: #0079ff;
}
.ui-color-red {
    color: #fd472b;
}
.ui-color-orange {
    color: #ff6d00;
}



