$jmu-color-black = #000

$jmu-color-white = #fff

$jmu-color-gray = #808080

$jmu-color-blue = #0079ff

$jmu-color-red = #fd472b

$jmu-color-orange = #ff6d00

.jmu-color-black {
  color: $jmu-color-black;
}

.jmu-color-white {
  color: $jmu-color-white;
}
.jmu-color-gray {
  color: $jmu-color-gray;
}
.jmu-color-blue {
  color: $jmu-color-blue;
}
.jmu-color-red {
  color: $jmu-color-red;
}
.jmu-color-orange {
  color: $jmu-color-orange;
}
