.jmu-horizental-center,
.jmu-vertical-center {
    display: -webkix-box;
}

.jmu-horizental-center {
    -webkit-box-pack: center;
}

.jmu-vertical-center {
    -webkit-box-align: center;
}
