$border = 1px solid gray;


.jmu-border-1px {
    position:relative;

    &:after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-transform-origin: 0 0;
        -webkit-transform: scale(1);
        pointer-events: none;
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        &:after {
            right: -100%;
            bottom: -100%;
            -webkit-transform: scale(0.5);
        }
    }

    &.border-all:after {
        border: $border;
    }
    &.border-top:after {
        border-top: $border;
    }
    &.border-bottom:after {
        border-bottom: $border;
    }
    &.border-left:after {
        border-left: $border;
    }
    &.border-right:after {
        border-right: $border;
    }
}


