/**
 * 垂直上下居中
 */
.ui-center {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
    height: 200px; /* 需要重置 */
}