.ui-corner-tag {
    position: relative;
    overflow: hidden;
}

.ui-corner-tag [class*="ui-tag-"] {
    position: absolute;
    top: -20px;
    left: 0;

    border-top: 20px solid;
    border-bottom-right-radius: 20px;
    padding: 0 9px 0 2px;
    min-width: 25px;
    height: 20px;

    color: #fff;

    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.ui-tag-red {
    background: #fc4226;
}
.ui-tag-orange {
    background: #ff7700;
}
.ui-tag-blue {
    background: #0079ff;
}
.ui-tag-green{
    background: #6ab147;
}