/*
** debug.css 做 demo 用, 生产环境不该引入
*/
::-webkit-scrollbar {
	width: 0;
}

h2 {
	text-align: center;
	font-size: 40px;
}

.demo-desc {
	padding: 1em 20px;
	border-top: 1px solid #dedfe0;
}
.demo-desc + small {
	padding: 0 20px;
}
.demo-block {
	margin: 20px;
}

#base .demo-block {
	text-align: center;
}
#base .demo-borders li {
	height:50px;
	line-height:50px;
	text-align: center;
	margin:10px;
}

#corner-tag .ui-corner-tag {
	display: inline-block;
}

#tab .tab-content li {
	text-align: center;
	margin-top: 20px;
}

#table .ui-table {
	text-align: center;
	line-height: 40px;
}


#notice .ui-notice {
	position: relative;
}

#dot .demo-block > div {
	position: relative; 
	background: #eee; 
	margin: 10px; 
	height: 50px; 
	line-height:50px;
}

#grid .ui-col {
	outline: 1px solid #eee;
	height: 50px; 
	line-height: 50px;
	text-align: center;
}

.demo-return-btn {
	position: absolute;
	top: 10px;
	left: 10px;
}

#debug .demo-block {
	font-size: 0;
}
#debug .demo-block  img{
	margin-top: 4px;
}