@import './base-color';
@import './base-1px';

::-webkit-scrollbar {
  width: 0;
}

.demo-border-1px {
  border: 1px solid #eee;
}

.jmu-header {
  text-align: center;
  line-height: 48px;
  @extend .demo-border-1px;
}
.jmu-content-container {
  padding: 20px;
}

.demo-desc {
  display: none;
}



.demo-padding {
  padding: 10px;
}

.demo-margin {
  margin: 10px auto;
}

h2 {
  text-align: center;
  line-height: 48px;
  font-size: 16px;
}

.demo-desc {
  padding: 1em 20px;
  border-top: 1px solid #dedfe0;
}

.demo-desc + small {
  padding: 0 20px;
}

#demo-page {
  a {
    display: block;
    width: 80%;

    font-size: 24px;
    line-height: 24px;

    color: #00a5e0;

    @extend .demo-padding;
  }

    .tab-content > li {
      display: none;
    }

  .jmu-tab .item {
    border-top: 3px solid transparent;
    &.jmu-active {
      border-color: #00a5e0;
    }
  }
}


#base-color {
  .demo-block p {

    margin: 30px 0;
    padding: 10px 0;

    @extend  .demo-border-1px;

    text-align center;

    &.jmu-color-white {
      background: #eee;
    }
  }
}

#base-1px {
  .demo-block {
    text-align: center;
  }
  .demo-borders li {
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px;
  }
}

#base-clearfix {
  .jmu-clear-fix {
    @extend  .demo-border-1px;
    height: 40px;
    line-height: 40px;
    padding: 10px 0;
    div {
      @extend  .demo-border-1px;
    }
  }
}

#base-center {
  .jmu-horizental-center {
    @extend  .demo-border-1px;
    height: 100px;
  }
}

#base-nowrap {
  .demo-block p {
    @extend  .demo-border-1px;
    @extend  .demo-margin;
  }
}

#corner-tag .jmu-corner-tag {
  display: inline-block;
}

#tab .tab-content li {
  text-align: center;
  margin-top: 20px;
}

#table .jmu-table {
  text-align: center;
  line-height: 40px;
}

#notice .jmu-notice {
  position: relative;
}

#dot .demo-block > div {
  position: relative;
  @extend  .demo-border-1px;
  @extend  .demo-padding;
  @extend  .demo-margin;
  height: 40px;
  line-height: 40px;
}

#grid .jmu-col {
  outline: 1px solid #eee;
  height: 50px;
  line-height: 50px;
  text-align: center;
}


  #form {
    .jmu-form {
      @extend  .demo-border-1px;
      @extend  .demo-padding;
      @extend  .demo-margin;
    }
  }
.demo-return-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

#debug .demo-block {
  font-size: 0;
}

#debug .demo-block img {
  margin-top: 4px;
}

#corner-tag .jmu-corner-tag {
  display: inline-block;
}