@charset "utf-8";

.jmu-form {
    background-color: #fff;

    ::-webkit-input-placeholder {
        color: #a6a6a6;
    }
    .jmu-icon-close{
        top: 7px;
        right: 7px;
    }
}

.jmu-form-item-order:active {
    background-color: #e5e6e7;
}

/* 表单输入项 */
.jmu-form-item {
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    vertical-align: middle;
    padding-right: 40px;
    position: relative;
    padding-left: 15px;

    label:not(.jmu-switch):not(.jmu-checkout):not(.jmu-radio):not(.jmu-range){
        width: 95px;
        position: absolute;
        text-align: left;
        box-sizing: border-box;
    }

    input:not([type="checkbox"]),
    textarea {
        width: 100%;
        padding-left: 95px;
        box-sizing: border-box;
    }

}



.jmu-form-item-textarea {
    height: 65px;
}

.jmu-form-item-textarea label {
    vertical-align: top;
}

.jmu-form-item-textarea textarea {
    margin-top: 15px;
    border: none;
}

.jmu-form-item-textarea textarea:focus {
    outline: none;
}

.jmu-form-item-l label,
.jmu-form-item-r button {
    color: #00a5e0;
    text-align: center;
}

.jmu-form-item-r .jmu-icon-close {
    right: 125px;
}

.jmu-form .jmu-form-item-l input {
    padding-left: 115px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jmu-form-item-r {
    padding-right: 0;
}

.jmu-form .jmu-form-item-r input {
    padding: 0 150px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jmu-form-item-r button {
    width: 110px;
    height: 44px;
    font-size: 16px;
    position: absolute;
    top: 0; right: 0;
}

.jmu-form-item-r button.disabled {
    color: #a6a6a6;
}

.jmu-form-item-r button:not(.disabled):active {
    background-color: #e5e6e7;
}

.jmu-form .jmu-form-item-pure input {
    padding-left: 0;
}

/* 表单展示项 */
.jmu-form .jmu-form-item-show label {
    color: #808080;
}

.jmu-form-item-link:after {
    background: url(../img/icon.png?_bid=306) no-repeat 0 -75px;
    -webkit-background-size: 150px auto;
    content: "";
    display: block;
    width: 9px;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -7px;
}

    