/* usually for body */
.ui-app {
    background: #fff;
    -webkit-overflow-scrolling: touch;
}

.ui-header, 
.ui-footer {
    position: fixed;
    background: #fff;
    width: 100%;
    height: 48px;

    z-index: 10;
}

.ui-header {
    top: 0;
}
.ui-header:after {
    border-bottom: 1px solid #cacaca;
}

.ui-footer {
    bottom: 0;
}
.ui-footer:after{
    border-top: 1px solid #cacaca;
}

/* content container may have more than one content like tab switch */
.ui-content-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    
    -webkit-box-sizing: border-box;

    min-height: 100%;

    z-index: 1;
}

/* 
 * for ios6+ use scrollbar of ".ui-content-container" instead of body's to make better experience
 * because on ios page can be scroll that we can see the area that not belong to our page  
 */
.js-bounce-fix .ui-content-container {
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.ui-header ~ .ui-content-container {
    border-top: 48px solid transparent;
}

.ui-footer ~ .ui-content-container {
    border-bottom: 48px solid transparent;
}

.ui-content {
    display: none;
}

.js-bounce-fix .ui-content{
    position: relative;
    min-height: 100%;
}


/* js style */
.ui-content.js-active {
    display: block;
}

/* low device style */
.poor-device .ui-header {
    position: absolute;
}

.ui-clearfix {
    &:before,
    &:after {
        display: block;
        content: "";
        visibility: hidden;
        clear: both;
    }
}

.ui-row {
    @extend .ui-clearfix;
}
.ui-col {
    float: left;
}

.ui-col-10 {
    width: 10%;
}
.ui-col-20 {
    width: 20%;
}
.ui-col-25 {
    width: 25%;
}
.ui-col-30 {
    width: 20%;
}
.ui-col-33 {
    width: 33.3333%
}
.ui-col-40 {
    width: 40%;
}
.ui-col-50 {
    width: 50%;
}
.ui-col-60 {
    width: 60%;
}
.ui-col-67 {
    width: 66.6666%
}
.ui-col-70 {
    width: 70%;
}
.ui-col-80 {
    width: 90%;
}
.ui-col-90 {
    width: 90%;
}
.ui-col-100 {
    width: 100%;    
}
