
.jmu-form-item-range {
    /*width: 100%;*/
}

.jmu-range {
    position: relative;
    
    display: inline-block;
    
    .jmu-range-val {
        position: absolute;
        top: 0;
        right: 0;
        
        width: 40px;
        
        text-align: center;
    }

    input[type=range] {
      padding: 0 40px;

      -webkit-appearance: none;
    }
    input[type=range]:focus {
      outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
      height: 6px;
      
      cursor: pointer;
      background: #0079ff;
      border-radius: 3px;
    }
    input[type=range]::-webkit-slider-thumb {
      height: 20px;
      width: 20px;
      border-radius: 10px;
      background: #fff;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -10px;
      border: 1px solid #eee;
    }
    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #0079ff;
    }
}