@import base-color

$border-radius = 3px
$background-color = rgba(0, 0, 0, 0.7)
$transition-duration = 0.2s

.jmu-toast
    display none
    position fixed
    top 0
    right 10px
    left 10px
    border-radius 0 0 $border-radius $border-radius
    padding 0 10px
    background $background-color
    color $jmu-color-white
    font-size 15px
    line-height 40px
    text-align center
    -webkit-transform translateY(-100%)
    -webkit-transition-property -webkit-transform
    -webkit-transition-timing-function ease-out
    z-index 10000

    &.jmu-effect
        -webkit-transition-duration $transition-duration

    &.jmu-show
        display block
        -webkit-transform translateY(0)

    [class^='jmu-icon-']
        display inline-block
        position relative
        top 3px
        width 18px
        height 18px
        background-size 100% 100%

    .jmu-icon-warning
        background-image url(../img/inline/warning.png?embed)

    .jmu-icon-tips
        background-image url(../img/inline/tips.png?embed)

    .jmu-icon-success
        background-image url(../img/inline/success.png?embed)